<div class="container bg-warning">
  <h1>Welcome</h1>
  <p>This is my app</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi rem optio adipisci consequatur, amet nobis quis ad nam cupiditate fuga. Iusto nobis, officiis quos natus soluta magnam quas. Natus, temporibus.</p>
</div>
